body {
    margin: 0 auto;
    padding-left: 10em;
    padding-right: 10em; 
}

#wrapper {
    margin: 0 14em 0 12em;
    padding: 0 1em;
}

#header {
    background-color: #369;
    color: #fff;
}

#main {
    float: left;
    width: 100%;
    background-color: lime;
}

#sidebar {
    float: left;
    width: 13em;
    padding: 0 0.5em;
    margin-left: -14em;
    position: relative;
    left: 15em;
    background-color: #ff6;
}

#nav {
    float: left;
    width: 11em;
    padding: 0 0.5em;
    margin-left: -100%;
    position: relative;
    right: 13em;
    background-color: #ddd;
}

#footer {
    clear: left;
    border-top: 1px solid #369;
}
