/**** ESTILO DE LA BARRA DE MENÚ Y PIE DE PÁGINA******/
body{
    margin:  0;
    background: #eee;
}
#logo-pagina{
    background-image: url('../img/RRLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
    float: left;
}
.menu_navegacion {
    font-family: Georgia;
    padding:  1em;
    background-color: green;
}

.menu_navegacion ul.topnav {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.menu_navegacion ul.topnav li {
    float: right;
    display: block;
}

.menu_navegacion ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
    font-family: Georgia;
}

.menu_navegacion ul.topnav li a:hover {
    background-color: #555;;
}
.menu_navegacion ul.topnav li a:active {
    color: : #cf7507;
}

.pie_pagina{
    font-family: Georgia;
    color: black;
}

.pie_pagina ul{
    display: block;
    background-color: green;
    list-style-type: none;
    margin: 0;
    padding-left: 5%;
    padding-right: 20%;
    padding-bottom: 1em;
    padding-top: 1em;
}
.pie_pagina ul li{
    padding-top: 0.25em;

}
.pie_pagina ul li a{
    color: lightgrey;
    text-decoration: none;
    border-bottom: 1px dotted lightgrey;
}
#creative-commons{
    size: 50%;
}

/** ESTILO DE INICIO **/

.inicio{
    font-family: Georgia;
    background-image: url('../img/fondoindex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
}
#titulo-inicio{
    padding: 10%;
}


/** ESTILO TABLA DE PRECIOS **/

.tabla_precios  {
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 1em;
   background: #FFFFFF;
   border: 1px solid #E1E1E1;
   border-radius: 5px;
}
.cabecera_tabla , .pie_tabla{
   color: white;
   font-family: sans-serif;
   background: linear-gradient(#435465,#526373,#435465);
}

.tabla_precios td, .tabla_precios th {
   border-bottom: 1px solid #E1E1E1;
   padding: 6px 16px;
   text-align: center;

}
.tipo_habitacion{
    font-weight: bold;
    color: black;
}
.impar th, .impar td{
    background: #EFF3F5;
}
#tituloPrecios{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}