/**** ESTILO DE LA BARRA DE MENÚ Y PIE DE PÁGINA******/
body{
    margin:  0;
}
#logo-pagina{
    background-image: url('../img/RRLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
    float: left;
}
.menu_navegacion {
    font-family: Georgia;
    padding:  1em;
    background-color: green;
}

.menu_navegacion ul.topnav {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

.menu_navegacion ul.topnav li {
    float: right;
    display: block;
}

.menu_navegacion ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
    font-family: Georgia;
}

.menu_navegacion ul.topnav li a:hover {
    background-color: #555;;
}
.menu_navegacion ul.topnav li a:active {
    color: : #cf7507;
}

.pie_pagina{
    font-family: Georgia;
    color: black;
}

.pie_pagina ul{
    display: block;
    background-color: green;
    list-style-type: none;
    margin: 0;
    padding-left: 5%;
    padding-right: 20%;
    padding-bottom: 1em;
    padding-top: 1em;
}
.pie_pagina ul li{
    padding-top: 0.25em;

}
.pie_pagina ul li a{
    color: lightgrey;
    text-decoration: none;
    border-bottom: 1px dotted lightgrey;
}
#creative-commons{
    size: 50%;
}

/** ESTILO DE INICIO **/

.inicio{
    font-family: Georgia;
    background-image: url('../img/fondoindex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
}
#titulo-inicio{
    padding: 10%;
}

