


/**** ESTILO DE LA BARRA DE MENÚ******/
body{
    margin:  0;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    overflow: hidden;
    background-color: #242424;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
    font-family: Georgia;
}

ul.topnav li a:hover {
    background-color: #555;;
}
ul.topnav li a:active {
    color: : #cf7507;
}
/**** ESTILO DEL ARTÍCULO (ACTIVIDAD 1) ******/

.articulo {
    font-family: Georgia;
    padding-left: 20%;
    padding-right: 20%;
}
.articulo h1, h2 {
    font-weight: bold;
    color: #0b7c82;
}
.articulo p {
    font-size: 1em;
}
.articulo a{
	text-decoration: none;
	color: orange;
}
.articulo ul{
    list-style-type: circle;
}
#autor {
    background-color: lightgrey;
}
#autor ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}
#autor ul li {
    float: left;
    display: inline-block;
    padding: 1em;
}
#imagen_autor {
    float: right;
}

#miFooter {
    padding-left: 10%;
    padding-right: 10%;
    display: block;
}
.imagen_articulo img{
	display: block;
	margin: auto;
}

.pie_pagina ul{
	display: block;
    background-color: #055256;
    list-style-type: none;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1em;
    padding-top: 1em;
}
.pie_pagina ul li{
    padding-bottom: 1em;
    padding-top: 1em;
    color: white;
}
.texto_marcado{
    border: 1px;
    border-style: solid none;
}
.texto_marcado p{
    margin: 0;
    padding: 1em;
}
 /** ESTILO LISTAS (ACTIVIDAD 2) **/

 ul.lista_paises{
    list-style-image: url('img/icono-paises.png');
    padding-left: 10px;
    font-size: 1.5em;
 }
  ul.lista_canales{
    list-style-image: url('img/icono-cadenas.png');
    padding-left: 10px;
    font-size: 0.75em;
 }
 ol.lista_series{
    list-style-image: none;
    font-size: 0.80em;
 }