/**** ESTILO DE LA BARRA DE MENÚ******/
body {
    margin: 0;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    overflow: hidden;
    background-color: #242424;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
    font-family: Georgia;
}

ul.topnav li a:hover {
    background-color: #555;
}
ul.topnav li a:active {
    color: : #cf7507;
}
/**** ESTILO DEL ARTÍCULO******/

.articulo {
    font-family: Georgia;
    padding-left: 20%;
    padding-right: 20%;
}
.articulo h1 {
    font-weight: bold;
    color: #0b7c82;
}
.articulo p {
    font-size: 1em;
}
.articulo a{
	text-decoration: none;
	color: orange;
}
#autor {
    background-color: lightgrey;
}
#autor ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}
#autor ul li {
    float: left;
    display: inline-block;
    padding: 1em;
}

#miFooter {
    padding-left: 10%;
    padding-right: 10%;
    display: block;
}
.imagen_articulo img{
	display: block;
	margin: auto;
}
.pie_pagina{
	
}
.pie_pagina footer{
	display: block;
}